.skills__section {
  min-height: 66vh;
}

.skills__section-group {
  margin-bottom: 50px;
  margin-right: 100px;
  min-width: 500px;
}

.skills__section-group > div > h2 {
  margin-bottom: 30px;
}

.skills__title {
  font-size: 26px;
  margin-bottom: 70px;
}

.skills__title:after {
  display: block;
  height: 1px;
  background-color: rgb(16, 234, 250);
  content: '';
  width: 120px;
  margin: 0;
  box-shadow: 0 1px 2px #444;
  margin-top: 18px;
}

.skills__container {
  display: flex;
  justify-content: space-between;
}

.skills__container img {
  max-width: 55px;
  margin: 15px 25px 15px 0px;
}

.skills__front-end {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
