.skill__section {
}

.skills__title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 60px;
}

.skills__title:after {
  display: block;
  height: 2px;
  background-color: rgb(16, 234, 250);
  content: '';
  width: 120px;
  margin: 0 auto;
  box-shadow: 0 1px 2px #444;
  margin-top: 18px;

}

.skills__container img {
  max-width: 70px;
  margin: 15px 10px;
}

.skills__front-end {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
