.contact__title {
  
  text-align: center;
  font-size: 26px;
  margin-bottom: 70px;
  margin-top: 240px;
}

.contact__title:after {
  display: block;
  height: 1px;
  background-color: rgb(16, 234, 250);
  content: '';
  width: 120px;
  margin: 0 auto;
  box-shadow: 0 1px 2px #444;
  margin-top: 18px;
}