.contact__section {
  display: flex;
  justify-content: center;
}

.contact__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 120px;
  margin-top: 300px;
}

.contact__title h1 {
  margin-bottom: 30px;
}

.contact__summary {
  font-size: 18px;
  width: 600px;
  line-height: 1.8rem;
}

.email__link {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 50px;
}
