.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 11;
  height: var(--nav-height);
  background-color: rgba(23, 28, 40, 0.85);
  backdrop-filter: blur(10px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
}

.navbar {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0 50px 0 50px;
  position: relative;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
  font-size: var(--fz-md);
}

.logo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.logo a {
  color: var(--green);
  width: 100%;
}

.navbar__items-container ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin-right: 0px;
  list-style: none;
  
}

.navbar__items-extra {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navbar__items-extra ul li {
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  
}

.navbar__items-container-link {
  padding: 10px;
  margin: 0 5px;
}

.navbar__items-container li:hover {
  color: #6f96d5;
}

.resume-link {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  margin-left: 13px;
  padding: .9rem 1.2rem;
  font-size: var(--fz-m);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}
