.footer__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__section p {
  margin-block-end: .3em;
  margin-block-start: 0.1em;
  font-size: .9em;
}

.footer_list {
  display: flex;
  justify-content: space-between;
  list-style: None;
  padding-inline-start: 0;
}

.footer_list li {
  padding: 0 8px;
}

.footer_list li a img {
  margin: 5px 3px 0;
  width: 26px;
  cursor: pointer;
}

.footer_list li a img:hover {
  scale: 1.2;
}